.github/
.husky/
.vscode/
.vscode-test/
.vscode-test-web/
out/
scripts/
src/
test-fixtures/
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierrc
.lintstagedrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CONTRIBUTORS.md
tsconfig.json
tsconfig.build.json
package-lock.json
dist/**/*.map

node_modules/